@model Movie
@{
    ViewData["Title"] = "Movie";
}

<h1>Movie</h1>
<div>
    @Html.HiddenFor(m=>m.ID)
    @Html.HiddenFor(m=>m.Title)
    @Html.HiddenFor(m=>m.Genre)
    @Html.HiddenFor(m=>m.Year)
    @Html.HiddenFor(m=>m.Actors)
    @Html.HiddenFor(m=>m.Directors)
</div>
