
@{
    ViewData["Title"] = "MovieForm";
}

<style>
    h1 {
        font-family: Verdana;
        color: #90906F;
    }
    body {
        background-color: #6F6F90;
        color: #6F7F90;
        font-family: helvetica;
        font-size: 140%;
        @*color: pink;*@
        border-color: #806F90;
    }
</style>



@model MovieLabASP.Net.Models.Movie



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("DisplayMovie2", "DisplayMovie2", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Movie Registration</th>
            </tr>
            <tr>
                <td>Id:</td>
                <td>
                    @Html.TextBoxFor(m => m.ID)
                </td>
            </tr>
            <tr>

                <td>Title:</td>
                <td>
                    @Html.TextBoxFor(m => m.Title)
                </td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td>
                    @Html.DropDownListFor(m => m.Genre,
       new SelectList(Enum.GetValues(typeof(Genre))),
       "Select Genre")
                </td>
            </tr>
            <tr>

                <td>Year:</td>
                <td>
                    @Html.TextBoxFor(m => m.Year)
                </td>
            </tr>
            <tr>
                <td>Actors:</td>
                <td>
                    @Html.TextBoxFor(m => m.Actors)
                </td>
            </tr>
            <tr>
                <td>Directors:</td>
                <td>
                    @Html.TextBoxFor(m => m.Directors)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>

        </table>


    }
</body>
</html>

@*<table>
        <tr>
           <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Actors</th>
            <th>Director</th>

        </tr>
    </table>*@


